<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jogar.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Tabuleiro de Xadrez</title>
</head>
<body>
    <div class="chessboard" id="chessboard"></div>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const chessboard = document.getElementById("chessboard");
    
        const pieceImages = {
            "r": "static/img/torre-preta.png",
            "n": "static/img/cavalo-preto.png",
            "b": "static/img/bispo-preto.png",
            "q": "static/img/rainha-preta.png",
            "k": "static/img/rei-preto.png",
            "p": "static/img/peao-preto.png",
            "R": "static/img/torre-branca.png",
            "N": "static/img/cavalo-branco.png",
            "B": "static/img/bispo-branco.png",
            "Q": "static/img/rainha-branca.png",
            "K": "static/img/rei-branco.png",
            "P": "static/img/peao-branco.png",
        };
    
        function createChessboard(pieces) {
            let html = '';
            for (let i = 0; i < 8; i++) {
                html += '<div class="row">';
                for (let j = 0; j < 8; j++) {
                    const squareColor = (i + j) % 2 === 0 ? 'light' : 'dark';
                    const piece = pieces[i][j] ? `<img src="${pieceImages[pieces[i][j]]}" alt="piece">` : '';
                    html += `<div class="square ${squareColor}">${piece}</div>`;
                }
                html += '</div>';
            }
            chessboard.innerHTML = html;
        }
    
        function updateBoardRequest() {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/update_board", true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        const newPieces = JSON.parse(xhr.responseText);
                        createChessboard(newPieces);
                    } else {
                        console.error("Erro ao atualizar tabuleiro:", xhr.statusText);
                    }
                }
            };
            xhr.send();
        }

        updateBoardRequest()
        // setInterval(updateBoardRequest, 5000);
        
        var xequeEstado = "{{ _DEBUG }}";

        console.log(xequeEstado);

        if( xequeEstado == 'robo' ){
                Swal.fire({
                    title: "Xeque Mate",
                    text: "Você perdeu, Lixo, Para reiniciar clique em Confirmar",
                    icon: "warning",
                    iconColor: "#005795",
                    showDenyButton: false,
                    confirmButtonColor: "#002645",
                    denyButtonColor: "#00A2FF",
                    confirmButtonText: "Confirmar",
                    allowOutsideClick: false,
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = 'http://127.0.0.1:5000/restart_game?df=true';
                    }
                })

        }else if(xequeEstado == 'human'){
            Swal.fire({
                title: "Xeque Mate",
                text: "Parabens você conseguiu uma proeza jamais vista!!",
                icon: "success",
                showDenyButton: false,
                confirmButtonColor: "#002645",
                denyButtonColor: "#00A2FF",
                confirmButtonText: "Reiniciar",
                allowOutsideClick: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = 'http://127.0.0.1:5000/restart_game?df=true';
                }
            })
        }
    });

    
</script>

